@import "settings";
@import "foundation.scss";

body {
  .bg {
    background: image-url("ebc-bg.jpg") no-repeat center;
    text-align: center;
    height: 1000px;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;    
  }
  
  .logo {
    @include grid-column($columns:6, $center: true);
    img {
      display: block;
      margin: 4rem auto 1rem auto;
    }
  }

  .message {
    @include grid-column($columns:12, $center: true);
    font-family: "Georgia";
    font-size: 1.5rem;
    text-align: center;

  }
  

  .contacts {
    @include grid-column($columns:6, $center: true);
    .social-links {
      text-align: center;
      @include grid-column($columns:12, $center: true);
      img {
        margin: 1rem 0.2rem;
      }
    }
  }

  .map {
    @include grid-column($columns:8, $center: true);
    img {
      display: block;
      margin: 1rem auto;
      padding: 0.5rem;
      background-color: white;
    }
  }

  .address {
    @include grid-column($columns:6, $center: true);
    text-align: center;
  }  


}
