.bg
  .row
    .logo
      %img{:src => "images/ebc-logo.png"}

  .row
    .message
      Open Spring 2015!

    .contacts
      .row
        .social-links
          %a{:href => "https://www.facebook.com/EloraBrewingCompany", :target=>"_blank"}
            %img{:src => "images/facebook-icon.png"}>/
          %a{:href => "https://twitter.com/EloraBrewingCo", :target=>"_blank"}
            %img{:src => "images/twitter-icon.png"}>/
          %a{:href => "mailto:cheers@elorabrewingcompany.ca", :target=>"_blank"}
            %img{:src => "images/mail-icon.png"}>/
  .row
    .map
      %a{:href => "https://goo.gl/maps/qdg46", :target=>"_blank"}
        %img{:src => "images/ebc-map.png"}>/


  .row
    .address
      %a{:href => "https://goo.gl/maps/qdg46", :target=>"_blank"}
        107 Geddes Street | Elora, ON N0B 1S0
